{% extends 'base.html' %}

{% block content %}
<h1 class="header center black-text">Week's Meal Plan</h1>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Week from {{ week.start_date }} to {{ week.end_date }}</span>
                <p><strong>Total Calorie Goal:</strong> {{ week.total_calorie_goal }}</p>
                <p><strong>Notes:</strong> {{ week.notes }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'weeks_update' week.id %}" class="btn black hoverable">
                    <i class="material-icons left">edit</i>Edit
                </a>
                <a href="{% url 'weeks_delete' week.id %}" class="btn black hoverable">
                    <i class="material-icons left">delete_forever</i>Delete
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12">
        <h2 class="header">Let's add a meal for this week....</h2>
        <form action="{% url 'add_meal' week.id %}" method="POST" class="col s12">
            {% csrf_token %}
            {{ meal_form.as_p }}
            <button type="submit" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">add</i></button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">This Week's Food Schedule:</span>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Meal</th>
                            <th>Food Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meal in week.meal_set.all %}
                        <tr>
                            <td class="{% if meal.date == now.date %}current-date{% else %}previous-date{% endif %}">{{ meal.date }}</td>
                            <td>{{ meal.get_meal_display }}</td>
                            <td>{{ meal.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
      <h3>Dietary Restriction Tags</h3>
      {% if week.restrictions.count %}
      {% for restriction in week.restrictions.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ restriction.name }}</span>
        </div>
        <div class="card-action">
          <form action="{% url 'unassoc_restriction' week.id restriction.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove" class="btn black">
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5> </h5>
      {% endif %}
    </div>
    <div class="col s6">
        <h3>Choose a Tag</h3>
        {% for restriction in restrictions %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ restriction.name }}</span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_restriction' week.id restriction.id %}" method="POST">
                    {% csrf_token %}
                    <label>
                        <input type="checkbox" onchange="this.form.submit();" />
                        <span>Add</span>
                    </label>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dateElems = document.querySelectorAll('.datepicker');
        var selectElems = document.querySelectorAll('select');
        M.Datepicker.init(dateElems, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });
        M.FormSelect.init(selectElems);
    });
</script>

{% endblock %}