{% extends 'base.html' %}

{% block content %}
<h1>Week List</h1>

<div class="week-list">
    {% for week in weeks %}
    <a href="/weeks/{{ week.id }}" class="week-card">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Week {{ week.start_date }} - {{ week.end_date }}</span>
                <p>Total Calorie Goal: {{ week.total_calorie_goal }}</p>
                <p>Notes: {{ week.notes }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}