{% extends 'base.html' %}

{% block body_class %}about-page{% endblock %}

{% block content %}
<div class="about-content">
    <h1>About BalanceBites</h1>
    <hr>
    <p>After enrolling in a coding bootcamp that filled her schedule, Vidhi understood the importance of meal planning to maintain her health. This inspired her to create BalanceBites, a platform where you can easily plan your meals for the week ahead. Take the stress out of meal planning with BalanceBites— it's your ticket to a healthier lifestyle. </p>
</div>
{% endblock %}